<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Agent"
        tools:replace="android:label"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
<!--        <activity android:name=".LoginActivity"-->
<!--            android:exported="true"/>-->

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity android:name=".SubscriptionActivity" />

        <!--        <activity android:name=".MainActivity" />-->
        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.TSAutomate.Launch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--            android:theme="@style/Theme.QuickDial.Splash"-->
        <!-- FOR ACCESSIBILITY -->
        <service
            android:name=".UssdAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/ussd_accessibility_config" />
        </service>
    </application>

</manifest>